@media only screen and (min-width: 601px) and (max-width: 800px) {
  * {
    margin: 0 auto;
    padding: 0;
  }

  /*Add line-height*/

  body {
    background-color: #f2ece2;
  }

  h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
  }
  .titulo1 {
    color: #1e5044;
    font-size: 22px;
    text-align: center;
  }
  .sub-titulo {
    color: #1e5044;
    font-size: 22px;
    text-align: center;
  }

  .logo {
    width: 100px;
    height: 150px;
    float: left;
  }

  p {
    font-family: "Roboto Mono", monospace;
    line-height: 25px;
    font-size: 12px;
    margin: 0 30px;
  }

  a {
    text-decoration: none;
    color: #1e5044;
  }

  header {
    border-top: 1px #1e5044 solid;
    border-bottom: 1px #1e5044 solid;
    width: 100%;
    height: 150px;
    margin: 30px 0;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 100px;
  }

  .lista {
    display: none;
  }

  main {
    max-width: 601px;
    height: 3900px;
  }

  .fome-inicio {
    display: block;
    width: 601px;
  }

  .sec-texto{
    position: absolute;
    width: 100%;
    height: 142px;
    top: 400px;
  }
  .texto-chamativo {
    width: 491px;
    height: 142px;
    background-color: rgba(30, 80, 68, 0.74);
  }

  .a1 {
    width: 601px;
    height: 300px;
  }
  .a2 {
    width: 601px;
    height: 200px;
    margin-top: 100px;
  }
  .a3 {
    width: 601px;
    height: 220px;
    margin-top: 25px;
  }
  .a4 {
    width: 601px;
    height: 1450px;
    margin-top: 25px;
  }
  .a5 {
    width: 601px;
    height: 470px;
    margin-top: 25px;
  }

  .a6 {
    width: 601px;
    height: 470px;
    margin-top: 25px;
  }

  .a7 {
    width: 601px;
    height: 170px;
    margin-top: 25px;
  }
  .a8 {
    width: 601px;
    height: 490px;
    margin-top: 25px;
  }
  .graficos {
    display: none;
  }
  .grafico {
    display: block;
    float: left;
    width: 481px;
    height: 300px;
    margin: 25px 60px 30px 60px;
  }

  .fome-brasa {
    display: none;
  }
  .mapa-Brasa {
    display: block;
    width: 481px;
    margin: 25px 60px 30px 60px;
  }
  .frutas {
    display: block;
    width: 481px;
    margin: 25px 60px 30px 60px;
  }
  .fome-crianca {
    display: block;
    width: 481px;
    margin: 25px 60px 30px 60px;
  }
  .coperacao {
    display: block;
    width: 481px;
    margin: 25px 60px 30px 60px;
  }
  .textos {
    width: 100%;
    margin: 20px 0px 0 0px;
  }

  footer {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #1e5044;
    margin-top: 50px;
  }

  .nomes {
    display: none;
  }

  .img-footer {
    width: 82px;
    height: 53px;
    float: right;
    padding: 40px 30px 0 0;
  }

  footer h2 {
    /*font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1E5044;*/
    display: none;
  }

  footer ul {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    color: #122e23;
    margin: 0 0 10px 48px;
  }

  .footer-class {
    display: flex;
    line-height: 22px;
  }

  .footer {
    border-top: 1px solid black;
    width: 560px;
    margin-left: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  .footer h3 {
    padding-top: 15px;
    padding-left: 20px;
  }

  .span1 {
    color: #1e5044;
  }

  .span2 {
    color: #aef084;
  }
}
